<!DOCTYPE html>
<html>

<head>
    <title>
        <%= IPv4 %>
    </title>

    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/jquery/jquery.min.js"></script>

</head>

<body class="m-0" style="background-color: #36393e; color: #F6F6F6;">

    <div id="card_window">
        <div class="card" style="background-color: #23272A;">
            <div class="card-header" style="background-color: #404EED;">
                <%= IPv4 %> in <%= Location.city %>, <%= Location.country %>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <h3 class="d-inline-block">CPU</h3>
                            <h3>&nbsp;|&nbsp;</h3>
                            <h5 class="d-inline-block"> <%= CPU.model.simple %></h5>
                        </div>

                        <div class="row">
                            <p class="col-6 card-text">
                                Default Speed: <%= CPU.model.advanced.speedMax %> GHz<br />
                                Temperature: <% if (CPU.temperature.main) { %><%= CPU.temperature.main + '°C' %> <% } else { %> Unknown <% } %>
                            </p>

                            <p class="col-6 card-text">
                                Cores: <%= CPU.model.advanced.cores %><br />
                                Logical Processors: <%= CPU.model.advanced.physicalCores %>
                            </p>
                        </div>

                        <h5>Usage</h5>

                        <div class="row progress" style="height: 40px; margin: 10px 0px;">
                            <div class="progress-bar <% if (CPU.usage < 25) { %> bg-success <% } else if (CPU.usage < 75) { %> bg-primary <% } else if (CPU.usage < 90) { %> bg-warning <% } else if (CPU.usage > 90) { %>bg-danger<% } %>" role="progressbar" style="width: <%= CPU.usage %>%;" aria-valuenow="<%= CPU.usage %>" aria-valuemin="0" aria-valuemax="100"><%= Math.round(CPU.usage) %>%</div>
                        </div>

                        <br /><br />

                        <div class="row">

                            <div class="col-6">
                                <h5 class="card-title">Motherboard</h5>
                                <p class="card-text">
                                    Model: <%= System.motherboard.model %><br />
                                    Memory: <%= System.motherboard.memMax / 1024 / 1024 %>GB / <%= System.motherboard.memSlots %> Slots
                                </p>
                            </div>
            
                            <div class="col-6">
                                <h5 class="card-title">Bios</h5>
                                <p class="card-text">
                                    Vendor: <%= System.bios.vendor %><br />
                                    Version: <%= System.bios.version %>
                                </p>
                            </div>
            
                        </div>

                        <br />

                        <div class="row">

                            <div class="col-6">
                                <h5 class="card-title">System Uptime</h5>
                                <p class="card-text">
                                    <%= `${System.uptime.split(':')[0]} Days, ${System.uptime.split(':')[1]} Hours, and ${System.uptime.split(':')[2]} Minutes` %>
                                </p>
                            </div>

                            <div class="col-6">
                                <h5 class="card-title">Latency</h5>
                                <p class="card-text">
                                    <%= Network.latency %>ms
                                </p>
                            </div>
            
                        </div>

                    </div>

                    <div class="col-6">
                        <h3 class="card-title">Memory</h3>

                        <div class="d-flex justify-content-around" style="margin: 0 auto; margin-top: 20px;">

                            <% Memory.layout.forEach(Stick => { %>

                            <div class="card" style="border-style: none;">
                                
                                <div class="card-header" style="background-color: #404EED; border-style: none;">
                                    <%= Stick.bank %>
                                </div>

                                <div class="card-body" style="background-color: #36393e;">
                                    Class: <%= Stick.type %><br />
                                    Speed: <%= Stick.clockSpeed %><br />
                                    Size: <%= Stick.size / 1024 / 1024 / 1024 %>GB
                                </div>

                            </div>
                            
                            <% }) %>
                        </div>

                        <br />

                        <h5 class="d-inline-block">Usage</h5>
                        <h5 class="d-inline-block">&nbsp;|&nbsp;</h5>
                        <h6 class="d-inline-block"><%= Memory.used %>GB / <%= Math.round(Memory.total) %>GB (<%= Math.round((Memory.used / Memory.total) * 100) %>%)</h6>

                        <div class="row progress" style="height: 40px; margin: 10px 0px;">
                            <div class="progress-bar <% if ((Memory.used / Memory.total) * 100 < 25) { %> bg-success <% } else if ((Memory.used / Memory.total) * 100 < 75) { %> bg-primary <% } else if ((Memory.used / Memory.total) * 100 < 90) { %> bg-warning <% } else if ((Memory.used / Memory.total) * 100 > 90) { %>bg-danger<% } %>" role="progressbar" style="width: <%= (Memory.used / Memory.total) * 100 %>%;" aria-valuenow="<%= (Memory.used / Memory.total) * 100 %>" aria-valuemin="0" aria-valuemax="100"><%= Memory.used %>GB / <%= Math.round(Memory.total) %>GB</div>
                        </div>
                        
                    </div>

                </div>

                <br /><br />

                <div class="row">

                    <h3>Drives</h3>

                    <% Disk.usage.forEach(disk => { 
                        let diskUsage = (disk.used / disk.size) * 100 
                        disk.size = disk.size / 1024 / 1024 / 1024
                        disk.used = disk.used / 1024 / 1024 / 1024
                    %>

                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <h4 class="d-inline-block"><%= disk.mount %></h4>
                            <h4>&nbsp;|&nbsp;</h4>
                            <h6 class="d-inline-block"><%= disk.used.toFixed(2) %>GB / <%= Math.round(disk.size) %>GB</h6>
                        </div>

                        <div class="row progress" style="height: 40px; margin: 10px 0px;">
                            <div class="progress-bar <% if (diskUsage < 25) { %> bg-success <% } else if (diskUsage < 75) { %> bg-primary <% } else if (diskUsage < 90) { %> bg-warning <% } else if (diskUsage > 90) { %>bg-danger<% } %>" role="progressbar" style="width: <%= diskUsage %>%;" aria-valuenow="<%= diskUsage %>" aria-valuemin="0" aria-valuemax="100"><%= disk.used.toFixed(2) %>GB / <%= Math.round(disk.size) %>GB</div>
                        </div>
                    </div>

                    <% }) %>

                </div>

            </div>
        </div>
    </div>

</body>

</html>